<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>VisualTango Vision Update</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/TemplateData/style.css') }}" />
    </head>
    <body>
        <h1>Visual Tango</h1>
        <div class="text">
            <p>
                Upload your video here to be able to see which tango movement the person in your video is doing.
                You'll be able to add and delete movement to te choregraphy.
            </p>
        </div>
        <div class="div_form" id="form1">
            <form action="http://127.0.0.1:5000/classification" method="post" enctype="multipart/form-data" autocomplete="off">
                <input type="file" name="input_file1" accept="video/">
                <input type="submit" value="Envoyer" onclick="createLoader('form1')">
            </form>
         </div>

        <h1>Modelise your dancing in Unity</h1>
        <div class="text">
            <p>
                Upload your video here to be able to see a model doing the choregraphy from the video
            </p>
        </div>
        <div class="div_form" id="form2">
            <form action="http://127.0.0.1:5000/modelisation" method="post" enctype="multipart/form-data" autocomplete="off">
                <input type="file" name="input_file2" accept="video/">
                <input type="submit" value="Envoyer" onclick="createLoader('form2')">
            </form>
        </div>  

        <div> Please note that the calculation may take some time</div>
        
    </body>
    <footer>
        <script>
            function createLoader(input){
                form = document.getElementById(input);
                spinner = form.querySelector
                if (input=="form1"){
                    if (form.querySelector("spinner1") == null){
                        const div = document.createElement("div");
                        div.className = "spinner";
                        div.id="spinner1";
                        form.appendChild(div);
                    }
                } else if (input=="form2"){
                    if (form.querySelector("spinner2") == null){
                        const div = document.createElement("div");
                        div.className = "spinner";
                        div.id="spinner2"
                        form.appendChild(div);
                    }
                }
            }

        </script>

    </footer>

</html>