<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Application Web avec Flask</title>
</head>
<body>
    <h1>Roman classification</h1>
    <form action="http://127.0.0.1:5000/upload" method="post" enctype="multipart/form-data" autocomplete="off">
        <input type="file" name="input_file">
        <input type="submit" value="Envoyer">
    </form>
    <h1>Sacha</h1>
    <form action="http://127.0.0.1:5000/sacha" method="post" enctype="multipart/form-data" autocomplete="off">
        <input type="file" name="input_file">
        <input type="submit" value="Envoyer">
    </form>


</body></html>